scipy
numpy
sympy
matplotlib
plotly
dash
dash-bootstrap-components
pandas
gmsh
meshio
ipython
ipykernel
pyvista
xvfbwrapper
pythreejs
requests
pandas
tabulate
nbformat>=4.2.0
pandoc
setuptools 
wheel
build
